<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/Css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/Css/traffic.css">
    <script src="__PUBLIC__/Js/jquery.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Css/info.css">
    <style type="text/css">
        strong, b {
            font-weight: bold;
        }
    </style>
</head>
<body>
<include file="Food/base"/>
<div class="show_info">
    <h1>中山交通指南</h1>
    <div class="show_info_con">
        <strong>外部交通
            <br>公路
        </strong>
        <br>广州各大客运站都有豪华大巴前往中山市，票价20元，车程约1小时。
        <br>中山汽车总站
        <br>地址：中山市石岐本西区富华道与105国道交汇处
        <br>电话：0760－8633825、8633648
        <br>售票时间：6：00～20：30（售四天内车票）
        <br>
        <strong>水运</strong>
        <br>客轮地址：中山市中山港客运口岸
        <br>电话：0760－5596350、5595333－282
        <br>下列各点往中山港乘船可享受免费乘车服务：
        <br>石岐：西区广场售票处211、212卡、富华酒店、中山纪念堂对面、京华酒店
        <br>小榄：固力酒店、菊城酒店、花城酒店、菊城迎宾馆、小榄大酒店、东升粤化酒店
        <br>
        <br><strong>市内交通 <br>旅游专线车</strong>
        <br>行车路线：富华酒店—紫马岭公园—海上庄园路口—影视城—中山故居—影视城—海上庄园路口—紫马岭公园
        —富华酒店站。开车时间8：00～17：00，每小时一班，其中中山故居站：9：00～18：00。
        <br><strong>旅游观光巴士</strong>
        <br>行车路线：富华酒店站—孙文公园—经博爱路、起湾道—紫马岭公园—嘉华电子厂—紫马岭公园—人
        大政协大楼—中银大厦—富华酒店站。开车时间8：00～17：00，每半小时一班。
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(".city_top .city_menu ul li:nth-child(6)").addClass("on");
    });
</script>
</html>