<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/Css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/Css/traffic.css">
    <script src="__PUBLIC__/Js/jquery.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Css/info.css">
</head>
<body>
<include file="Food/base"/>
<div class="show_info">
    <h1>阳江交通指南</h1>
    <div class="show_info_con">
        阳江市东与江门市相邻，西与茂名市交界，北与云浮市相接，南临南海，毗邻港澳，
        距广州247公里，距湛江230公里，距珠海160公里，距香港165公里，是连接粤中与粤西的交通走廊。
        325国道(广湛公路)和广茂铁路横贯全市，交通便利。
        <br>自驾车：
        <br>　　由广州北环高速公路经沙贝立交上广佛高速公路，再经324国道可至阳江，车程需3个多小时。
        阳江至闸坡长45公里，半小时车程。
        <br>背包游：
        <br>　　省汽车站与阳江汽车站有豪华大巴对开，每日从07:30到20:30，
        基本上一小时或一个半小时一班，车程3个半小时，车费75元。流花车站以及市汽车站（
        都在广州火车站附近）也有车到阳江。
        <br>　　海陵岛与阳江市汽车站之间有旅游专线车对开，每15分钟一班，半小时车程，车费12元。
        <br>　　海陵岛内交通便利，陆路有公共汽车、的士、电瓶车、黄包车等交通工具，海上有载人机动艇、
        快艇等，到岛内各景点交通十分便利。
        <br>　　闸坡有车抵达广州，一小时或一个半小时一班车，但非直达车，速度较慢，需4个多小时。
        最好是在阳江市区转车到广州，更为便捷。 　
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(".city_top .city_menu ul li:nth-child(6)").addClass("on");
    });
</script>
</html>