<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/Css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/Css/traffic.css">
    <link rel="stylesheet" href="__PUBLIC__/Css/info.css">
    <script src="__PUBLIC__/Js/jquery.js"></script>
    <style type="text/css">

    </style>
</head>
<body>
<include file="Food/base"/>
<div class="show_info">
    <h1>广东机场汇总</h1>
    <div class="show_info_con">
        <p></p>
        <table>
            <tr>
                <td class="w1">广东</td>
                <td class="w2">广州白云国际机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">CAN</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">深圳宝安国际机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">SAX</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">深圳南头直升机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">NNN</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">湛江坡头直升机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">NNN</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">珠海九州直升机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">NNN</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">罗定机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">NNN</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">阳江合山机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">NNN</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">湛江新塘机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">NNN</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">珠海三灶机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">ZUH</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">梅县机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">MXZ</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">汕头外砂机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">SWA</td>
            </tr>
            <tr>
                <td class="w1"></td>
                <td class="w2">湛江机场</td>
                <td class="w3">中南地区</td>
                <td class="w1">广东</td>
                <td class="w1">ZHA</td>
            </tr>
        </table>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(".city_top .city_menu ul li:nth-child(6)").addClass("on");
    });
</script>
</html>