<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/Css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/Css/traffic.css">
    <script src="__PUBLIC__/Js/jquery.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Css/info.css">
</head>
<body>
<include file="Food/base"/>
<div class="show_info">
    <h1>汕头交通指南</h1>
    <div class="show_info_con">
        <font face="宋体"><strong>航空　</strong>
            <br>　　汕头外沙机场位于汕头市区东北方向13公里处。在汕头机场，可以坐机场中巴到市中心，
            每位10元。
            <br></font><font face="宋体"><strong>铁路 <br>
    </strong>　　汕头火车站位于汕头市区东端，公交2路、4路、6路、8路、11路、
        12路的终点站都在火车站前的广场上。 <br><strong>公路</strong> <br>　　汕头--广州（高速直达，约5小时30分）
        <br>　　汽车总站发车时间：7:35-1:00 每小时一班。 <br>　　东站发车时间：8:05-1:15 每小时一班。 <br>　　汕头-深圳 <br>　　汽车总站发车时间：6:10-21:00 每小时一至二班。
        <br>　　东站发车时间：6:40-21:30 每小时两至三班。 <br><strong>内部交通</strong> <br>　　汕头的公共汽车票价1～2元。出租车的收费有几种，起步价为8元，起步价为7元，
        3公里后开始跳表，还有起步价9元的。在汕头坐三轮车最方便，还可以讲价。</font>
        <br></div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(".city_top .city_menu ul li:nth-child(6)").addClass("on");
    });
</script>
</html>