<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/Css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/Css/cityHotel.css">
    <script src="__PUBLIC__/Js/jquery.js"></script>
</head>
<body>
<include file="Hotel/base"/>
</body>
<script type="application/javascript">
    $(function () {
        $("#js_cityHotel_tag a:nth-child(4)").addClass("on");
    });

    $(function () {
        $(".city_top .city_menu ul li:nth-child(5)").addClass("on");
    });
</script>
</html>