<include file="Food/base"/>
<link rel="stylesheet" href="__PUBLIC__/Css/line/line.css">
<div class="content mt20">
    <div class="box_list">
        <div class="box_change">
            <div class="change_con">
                <dl>
                    <dt>行程天数：</dt>
                    <dd>
                        <a href="" class="on">全部</a>
                        <foreach name="days" item="v">
                            <a href="{:U('Home/LineCity/get_days?days_id='.$v['days_id'].'&city_name='.$city_name)}">{$v.days_id}日游</a>
                        </foreach>
                    </dd>
                </dl>
            </div>
            <script>
                $(function(){
                    $(".change_con dd.btn").hover(
                            function(){
                                $(this).css({"background":"#f70", "color":"#fff"});
                                $(this).find("i").css("border-top","4px solid #fff");

                            },
                            function(){
                                $(this).css({"background":"#c9c9c9", "color":"#666"});
                                $(this).find("i").css("border-top","4px solid #666");
                            }
                    );
                    var fli_click = 0;
                    $(".change_con dd.btn").click(
                            function(){
                                var pi = "<i></i>";
                                if (fli_click++ % 2 === 0) {
                                    $(this).html("收起");
                                    $(this).append(pi);
                                    $(this).find("i").css({"transform":"rotate(180deg)","border-top":"4px solid #fff"});
                                    $(this).prev().css("height", "auto");
                                } else {
                                    $(this).html("展开");
                                    $(this).append(pi);
                                    $(this).find("i").css({"transform":"rotate(0deg)","border-top":"4px solid #fff"});
                                    $(this).prev().css("height", "26px");
                                }
                            }
                    );
                });

            </script>
        </div>
        <div class="xianlu_list spread">
            <div class="hot"></div>
            <ul>
                <foreach name="line" item="v">
                    <li id="line_418176">
                        <div class="tu">
                            <a href="" target="_blank">
                                <img src="__PUBLIC__/Images/recommend/{$v.image_path}" alt="{$v.recomend_des}" width="120" height="90">
                            </a>
                            <a href="" class="btn_add"></a>
                        </div>
                        <div class="xl_con">
                            <div class="xl_type">
                                <div class="title">
                                    <i class="i0"></i>
                                    <a href="" target="_blank" data="418176">{$v.recomend_des}</a>
                                </div>
                                <div class="lxs">
                                    <i></i>
                                    <a href="" target="_blank">广东和平旅行社</a>
                                </div>
                            </div>
                            <div class="xl_num">
                            <span class="price">
                                ￥<em>{$v.recomend_price}</em>起
                                <del>省<b>{$v.recomend_discount}</b>元</del>
                            </span>
                                <a href="{:U('Home/Line/desc','id='.$v['recomend_id'])}" class="btn_go" target="_blank"></a>
                                <span class="guanzhu">&nbsp;&nbsp;{$v.recomend_focus}人关注</span>
                            </div>
                        </div>
                        <div class="xl_other">
                            <span>
                                <em>行程天数</em>{$v.days_id}天
                            </span>
                            <span>
                                <em>出发日期</em>天天发团
                            </span>
                            <span>
                                <em>往返交通</em>汽车去汽车回
                            </span>
                            <span>
                                <em>品质服务</em>无购物无自费
                            </span>
                        </div>
                    </li>
                </foreach>
            </ul>
        </div>
        <div class="page">
            <div class="page_con">
                <!--<span class="active">1</span>-->
                {$page}
                <i class="triangle"></i>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".city_top .city_menu ul li:nth-child(3)").addClass("on");
    });

</script>
</body>
</html>