a {
    color: #555;
    cursor: pointer;
    text-decoration: none;
}
.first_hd h1 {
    display: inline;
    font-size: 28px;
    color: #333;
    font-weight: 400;
    margin-bottom: 3px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}
.first_hd {
    padding: 15px 0;
    overflow: hidden;
}
.first_hd p {
    color: #666;
}
.first_info {
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 10px;
    height: 290px;
    overflow: hidden;
}
.clearfix {
    zoom: 1;
}
.first_l {
    float: left;
    width: 840px;
    position: relative;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.first_l li {
    float: left;
    padding: 0 10px 10px 0;
}
.lazy {
    background: #fff url(img_v7/lazy_loading.gif) no-repeat center center;
}
.first_l li a {
    display: block;
}
.first_l li a img {
    float: left;
}
.main {
    margin-left: 70px;
    width: 1000px;
}
.first_screen {
    background: #f8f8f8;
    padding-bottom: 34px;
    margin-top: 20px;
}
.clearfix {
    zoom: 1;
}
.warp1000 .sideL {
    width: 740px;
}
.sideL {
    width: 930px;
    float: left;
}
.warp1000 .box740, .warp1000 .box740 .tag_top, .warp1000 .room_list {
    width: 740px;
}
.mt20 {
    margin-top: 10px!important;
}
.box740 {
    clear: both;
    width: 930px;
}
.warp1000 .room_list {
    width: 740px;
}
.clearfix {
    zoom: 1;
}
.room_list li {
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
    font-family: "Microsoft Yahei";
    font-size: 12px;
}
.room_hd {
    display: block;
    cursor: pointer;
    padding: 20px;
    overflow: hidden;
}
.room_pic {
    float: left;
    width: 88px;
    height: 80px;
}
.warp1000 .room_pic img {
    width: 78px;
}
.room_pic img {
    width: 88px;
    height: 80px;
}
.hd_right {
    float: right;
    width: 100px;
    position: relative;
    margin-top: 10px;
    padding-right: 10px;
    text-align: right;
}
.room_price {
    color: #f60;
    height: 34px;
    line-height: 34px;
    margin-bottom: 8px;
}
.room_price i {
    font-size: 14px;
    vertical-align: super;
}
.room_price .num {
    font-size: 24px;
    margin-right: 3px;
    vertical-align: super;
}
.room_price .text {
    color: #999;
    font-size: 14px;
    vertical-align: super;
}
.room_desc {
    margin: 10px 115px 0 12%;
}
.room_desc p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.room_bed {
    color: #008fe9;
    font-size: 18px;
}
.room_desc p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.room_facility {
    margin-top: 15px;
}
.room_facility span {
    color: #666;
    margin-right: 8px;
}
.room_facility .split {
    color: #ddd;
}
.room_facility span {
    color: #666;
    margin-right: 8px;
}
.room_facility .split {
    color: #ddd;
}
.room_facility .split {
    color: #ddd;
}
.tit {
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-bottom: 0 none;
    background: #f4f4f4;
    position: relative;
    overflow: hidden;
}
.tit strong {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.box740 .txt {
    border: 1px solid #ddd;
    background: #fff;
    color: #666;
    padding: 20px;
}
.box740 .txt dl {
    display: block;
    line-height: 30px;
    overflow: hidden;
}
.box740 .txt dt {
    width: 17%;
    float: left;
    padding: 5px 0;
}
.box740 .txt dd {
    width: 80%;
    float: left;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 0;
}
.c_free {
    color: #00bf49;
}
.box740 .txt .less {
    line-height: 22px;
}
.box740 .txt .full {
    display: block;
    line-height: 22px;
}
.order {

    width: 60px;
    height: 24px;
    font: 14px/24px "Microsoft yahei";
    background: #ff9911;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    text-align: center;
}
