<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅游主页显示</title>
    <link rel="stylesheet" href="__PUBLIC__/Css/index.css">
    <script src="__PUBLIC__/Js/jquery.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Css/hotelDesc.css">
    <script src="__PUBLIC__/plugin/layer/layer.js"></script>
</head>
<body>
<include file="Food/base"/>
<div class="first_screen clearfix">
    <div class="main">
        <div class="first_hd">
            <h1>
                <a>{$city}{$hotel.hotel_name}</a>
            </h1>
            <p>
                地址：{$hotel.hotel_addr}
            </p>
        </div>
        <div class="first_info clearfix">
            <div class="first_l">
                <ul>
                    <li src="http://pavo.elongstatic.com/i/Hotel350_350/000070uk.jpg"
                        class="lazy "
                        data-original="http://pavo.elongstatic.com/
                        i/Hotel350_350/000070uk.jpg"
                        style="width:410px;height:280px">
                        <a href="javascript:;"
                           path="http://pavo.elongstatic.com/i/Mobile640_960/000070uk.jpg"
                           class="preview">
                            <img src="__PUBLIC__/Images/hotel/{$desc.hotel_image}"
                                 class="lazy "
                                 data-original="http://pavo.elongstatic.com/i/Hotel350_350/
                                 000070uk.jpg"
                                 style="width: 410px; height: 280px; display: block;" alt="其他">
                        </a>
                    </li>
                    <volist name="room" id="val">
                      <li src="" class="lazy "
                        data-original="http://pavo.elongstatic.com/i/Hotel120_120/0000i5EZ.jpg"
                        style="width:130px;height:120px">
                        <a href="javascript:;"
                           path="http://pavo.elongstatic.com/i/Mobile640_960/0000i5EZ.jpg"
                           class="preview">
                            <img src="__PUBLIC__/Images/room/{$val.room_image}" class="lazy "
                                 data-original="http://pavo.elongstatic.com/i/Hotel120_120/0000i5EZ.jpg"
                                 style="width: 130px; height: 120px; display: block;" alt="客房">
                        </a>
                      </li>
                    </volist>
                </ul>
            </div><!-- first_l end -->
        </div>
    </div>
</div>
<div class="main">
    <div class="sideL">
        <div class="box740 mt20 J_info_box">
             <ul class="room_list clearfix">
                <volist name="room" id="val">
                    <li>
                        <div class="room_hd clearfix">
                            <div class="room_pic">
                                <img src="__PUBLIC__/Images/room/{$val.room_image}"
                                   style="width:88px; height:80px" alt="图片">
                            </div>
                            <div class="hd_right">
                                <p class="room_price">
                                    <i>￥</i>
                                    <span class="num">{$val.room_price}</span>
                                </p>
                                <a class="order" room_id="{$val.room_id}"
                                   hotel_id="{$val.hotel_id}"
                                   username="{$Think.session.id}">预订</a>
                            </div>
                            <div class="room_desc">
                                <p class="room_bed">{$val.room_name}</p>
                                <p class="room_facility">
                                    <span>房间{$val.room_size}㎡</span>
                                    <span class="split">|</span>
                                    <span>{$val.room_bed}</span>
                                    <span class="split">|</span>
                                    <span>可住：{$val.room_people}人<i></i><i></i></span>
                                    <span class="split">|</span>
                                    <span title="楼层：1层-4层">楼层：{$val.room_floor}层</span>
                                    <span class="split">|</span>
                                    <span title="宽带：免费WIFI">宽带：{$val.room_wifi}</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </volist>
             </ul>
        </div>
        <div class="box740 mt20">
            <div class="tit">
                <strong>设施服务</strong>
            </div>
            <div class="txt child-noborder">
                <dl>
                    <dt>酒店电话</dt>
                    <dd>{$facilities.hotel_phone}</dd>
                </dl>
                <dl>
                    <dt>开业时间</dt>
                    <dd>酒店开业时间 {$facilities.hotel_open} 年</dd>
                </dl>
                <dl>
                    <if condition="$facilities.hotel_net != null">
                        <dt>上网服务</dt>
                        <dd>{$facilities.hotel_net}</dd>
                    </if>
                </dl>
                <dl>
                    <if condition="$facilities.hotel_service != null">
                        <dt>酒店服务</dt>
                        <dd>
                            {$facilities.hotel_service}
                        </dd>
                    </if>
                </dl>
                <dl>
                    <if condition="$facilities.hotel_restaurant != null">
                        <dt>餐饮设施</dt>
                        <dd>{$facilities.hotel_restaurant}</dd>
                    </if>
                </dl>
                <dl>
                     <if condition="$facilities.hotel_sports != null">
                         <dt>康体娱乐</dt>
                         <dd>{$facilities.hotel_sports}</dd>
                     </if>
                </dl>
                <dl>
                    <dt>房间设施</dt>
                    <dd>{$facilities.hotel_rooms}</dd>
                </dl>
                <dl class="noborder">
                    <dt>可接受的信用卡</dt>
                    <dd>{$facilities.hotel_card}</dd>
                </dl>
            </div>
        </div>
        <div class="box740 mt20">
            <div class="tit">
                <strong>酒店简介</strong>
            </div>
            <div class="txt">
                <div>{$desc.hotel_desc}</div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</body>
<script type="application/javascript">
     $(".order").click(function () {

         var username = $(this).attr('username');
         //判断是否有登录
         if(username != "") {

             var room_id = $(this).attr("room_id");
             var hotel_id = $(this).attr("hotel_id");
             $(this).prop("href",
                 "http://localhost/travel/index.php/" +
                 "Home/HotelOrder/index/room_id/" + room_id +
                 "/hotel_id/" + hotel_id);
         }else {
             layer.alert('您尚未登录，请先登录', {
                 skin: 'layui-layer-molv' //样式类名
                 ,closeBtn: 0
             });
         }
     });
     $(function () {
         $(".city_top .city_menu ul li:nth-child(5)").addClass("on");
     });
</script>
</html>